<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>




<style>
.ck-editor__editable {
	height: 400px;
}

.ck-content {
	font-size: 15px;
}
</style>
</head>
<body>
	<div th:replace="/include/header.html"></div>


	<div class="container container-mt">
		<form method="post" enctype="multipart/form-data"
			th:object="${itemFormDTO}">
			<p class="h2">상품 등록</p>
			<div style="margin-bottom: 25px;"></div>
			<input type="hidden" th:field="*{id}">

			<div class="form-group">
			품목 : 
				<select th:field="*{clothingItems}" class="custom-select">
					<option value="short_sleeved_T_shirt">반소매티셔츠</option>
					<option value="long_sleeved_T_shirt">긴소매티셔츠</option>
					<option value="sleeveless_T_shirt">민소매티셔츠</option>
					<option value="blouse">블라우스</option>
					<option value="hooded_T_shirt">후드티셔츠</option>
					<option value="sweater">스웨터</option>
					<option value="sweatshirt">맨투맨</option>
				</select>
			</div>
			<br>
			<div class="form-group">
			색상 : 
				<select th:field="*{itemColor}" class="custom-select">
					<option value="BROWN">갈색</option>
					<option value="BLACK">검은색</option>
					<option value="WHITE">흰색</option>
					<option value="NAVY">네이비색</option>
				</select>
			</div>
			<br>
			<div class="form-group">
			사이즈 : 
				<select th:field="*{itemSize}" class="custom-select">
					<option value="XL">XL</option>
					<option value="L">L</option>
					<option value="M">M</option>
					<option value="S">S</option>
				</select>
			</div>
			<br>
			
			
			<!-- 상품명 -->
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">상품명</span>
				</div>
				<input type="text" th:field="*{itemNm}" class="form-control"
					placeholder="상품명을 입력해주세요">
			</div>
			<p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}"
				class="fieldError">Incorrect data</p>
				
			
			<!-- 상품설명 -->
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">상품설명</span>
				</div>
				<input type="text" th:field="*{itemIntroduction}" class="form-control"
					placeholder="상품설명을 입력해주세요">
			</div>
			<p th:if="${#fields.hasErrors('itemIntroduction')}" th:errors="*{itemIntroduction}"
				class="fieldError">Incorrect data</p>
			
			
			<!-- 가격 -->
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">가격</span>
				</div>
				<input type="number" th:field="*{price}" class="form-control"
					placeholder="상품의 가격을 입력해주세요">
			</div>
			<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
				class="fieldError">Incorrect data</p>
			
			
			<!-- 재고 -->
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">재고</span>
				</div>
				<input type="number" th:field="*{stockNumber}" class="form-control"
					placeholder="상품의 재고를 입력해주세요">
			</div>
			<p th:if="${#fields.hasErrors('stockNumber')}"
				th:errors="*{stockNumber}" class="fieldError">Incorrect data</p>
			
			
			<!-- 상품상세내용 -->
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">상품 상세 내용</span>
				</div>
				<textarea class="form-control" name="text" id="editor"
					aria-label="With textarea" th:field="*{itemDetail}"></textarea>
			</div>
			<p th:if="${#fields.hasErrors('itemDetail')}"
				th:errors="*{itemDetail}" class="fieldError">Incorrect data</p>



			<!-- 상품 이미지 정보를 담고 있는 리스트가 비어 있으면은 상품을 등록할 수 있게 밑의 코드가 출력됨 -->
			<!-- <div th:if="${#lists.isEmpty(itemFormDTO.itemImgDTOList)}">  -->
			<!-- 이미지 개수 5개로 제한 -->
			<div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
				<div class="custom-file img-div">
					<input type="file" class="custom-file-input" name="itemImgFile">
					<!-- 몇번째 상품 이미지인지 출력 -->
					<label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
				</div>
			</div>
			<!-- </div>  -->

			<!-- 상품 이미지 정보를 담고 있는 리스트가 비어 있으면은 상품을 수정할 수 있게 밑의 코드가 출력됨 -->
			<!-- <div th:if = "${not #lists.isEmpty(itemFormDTO.itemImgDTOList)}">
            <div class="form-group" th:each="itemImgDTO, status: ${itemFormDTO.itemImgDTOList}">
                <div class="custom-file img-div">
                    <input type="file" class="custom-file-input" name="itemImgFile">
                    <input type="hidden" name="itemImgIds" th:value="${itemImgDTO.id}"> -->
			<!-- #strings.isEmpty + 삼항연산자 -->
			<!--  저장된 이미지가 있으면 이미지 이름 출력, 없으면 '상품이미지'+번호를 출력 -->
			<!--  <label class="custom-file-label" th:text="${not #strings.isEmpty(itemImgDTO.oriImgName)} ? ${itemImgDTO.oriImgName} : '상품이미지' + ${status.index+1}"></label>
                </div>
            </div>
        </div>-->

			<!-- 상품 아이디가 없는 경우(상품을 처음 등록하는 경우) 저장 로직을 호출하는 버튼을 보여줌 -->
			<!-- <div th:if="${#strings.isEmpty(itemFormDTO.id)}" style="text-align: center"> -->
			<div style="text-align: center">
				<button th:formaction="@{/item/itemForm}" type="submit"
					class="btn btn-secondary">저장</button>
			</div>

		</form>
	</div>



	<div th:replace="/include/footer.html"></div>



	<script
		src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>

	<script>
		ClassicEditor.create(document.querySelector('#editor'), {
			language : "ko"
		});
	</script>

	<!-- 사용자 스크립트 추가 -->
	<script th:inline="javascript">
		function bindDomEvent() {
			$(".custom-file-input").on(
					"change",
					function() {
						var fileName = $(this).val().split("\\").pop(); //이미지 파일명
						var fileExt = fileName.substring(fileName
								.lastIndexOf(".") + 1); // 확장자 추출
						fileExt = fileExt.toLowerCase(); //소문자 변환

						// 클라가 개발자도구로 밑의 세팅을 바꿀 수도 있어서 validation 해줘야함!!
						if (fileExt != "jpg" && fileExt != "jpeg"
								&& fileExt != "gif" && fileExt != "png"
								&& fileExt != "bmp") {
							alert("이미지 파일만 등록이 가능합니다.");
							return;
						}

						// label 태그 안의 내용을 jquery 의 html 함수를 이용해서 파일명을 입력해준다.
						$(this).siblings(".custom-file-label").html(fileName);
					});
		}
	</script>

</body>
</html>