<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	$(document).ready(function(){
		$("#searchBtn").on("click",function(e){
			e.preventDefault();
			page(0);
		});
	});
	
	function page(page){
		var searchDateType = $("#searchDateType").val();
		var searchSellStatus = $("#searchSellStatus").val();
		var searchBy = $("#seacrhBy").val();
		var searchQuery = $("#searchQuery").val();
		
		location.href="/admin/items/" + page 
		+ "?searchDateType" + searchDateType 
		+ "&searchSellStatus" + searchSellStatus
		+ "&searchBy" + searchBy
		+ "&searchQuery" + searchQuery;
	}
</script>
</head>
<body>
	<div th:replace="/include/header.html"></div>
	<h2>상품리스트</h2>
	<div class="mb-2">
		<a th:href="@{/item/itemForm}" class="btn btn-primary">상품 등록하기</a>
		
		<table class="table">
            <thead>
            <tr>
                <!-- <th scope="col">이미지</th> -->
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">등록자</th>
                <th scope="col">등록일</th>
                <th scope="col">상태</th>
            </thead>
            <tbody>
            <tr th:each="items : ${itemList}">
                <!-- <td>
                    <span th:text="${address.address}"></span> <span th:text="${address.addressDetail}"></span>
                </td> -->
                <td th:text="${items.itemNm}"></td>
                <td th:text="${items.price}"></td>
                <!-- <td><a th:href="@{/member/shipping-address/update(addressNo=${address.id})}">수정</a></td> -->
            </tr>

            </tbody>
        </table>
	</div>

	
	<div th:replace="/include/footer.html"></div>
</body>
</html>