<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">


<div layout:fragment="mypage" class="container sub-container">


   <div class="container">
  
    <div class="d-flex justify-content-between mb-4">
      <h2 class="title">배송지관리</h2>
      
      <div class="black-button"><a href="/member/shipping-address">배송지추가</a></div>
      
     </div> 
        <table class="table">
        
         <colgroup>
			<col width="10%">
			<col width="30%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			
		</colgroup>
		
            <thead>
            <tr>
                <th scope="col">선택</th>
                <th scope="col">주소</th>
                <th scope="col">받으실 분</th>
                <th scope="col">연락처</th>
                <th scope="col">현재 배송하는 주소</th>
                <th scope="col">수정</th>
                 <th scope="col">배송지</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addressList}">
                <td>선택</td>
                <td>
                    <span th:text="${address.address}"></span> <span th:text="${address.addressDetail}"></span>
                </td>
                <td th:text="${address.person}"></td>
                <td th:text="${address.addressPhoneNumber}"></td>
                <td th:text="${address.defaultAddress}"></td>
                <td><a th:href="@{/member/shipping-address/update(addressNo=${address.id})}">수정</a></td>
                <td><a th:href="@{/member/shipping-address/updatedefaultaddress(addressNo=${address.id})}">여기로배송</a></td>
            </tr>

            </tbody>
        </table>
    </div>
    
     
</div>

</html>
