<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">




<div layout:fragment="mypage" class="container sub-container">

   
    <div class="mb-4 mt-4">
        <h2 class="title">비밀번호번경</h2>


    </div>
    <form action="/mypage/change-password" th:object="${userDTO}" method="post">
        <div class="mb-4 mt-4">
            <label for="nowpassword">현재비밀번호:</label>
            <input type="password" class="form-input" id="nowpassword" placeholder="현재 비밀번호를 입력해주세요" name="nowpassword">
        </div>
        <div class="mb-4 mt-4">
            <label for="password">새비밀번호:</label>
            <input class="form-input" th:field="*{password}" placeholder="비밀번호는 영문 대문자 소문자 숫자 특수문자의 최소 1개씩 8 이상으로 입력해주세요" type="password"
                   value="" lang="en">
            <div th:each="msg : ${#fields.errors('password')}">
                <p th:text="${msg}"></p>
            </div>
            <span id="passwordCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
        <div class="mb-4 mt-4">
            <label for="password2">비밀번호확인(미구현):</label>
            <input class="form-input" id="password2" name="password2" placeholder="Enter password" type="password" lang="en">
            <span id="passwordCheck2" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
       
       
       <div class="btn-wrap mb-4 mt-5">
			<a href="/mypage/modify" class="border-button double" type="submit">목록</a>
			<button class="black-button double" type="submit">확인</button>
		</div>
		
		
    </form>

</div>


<th:block layout:fragment="script">

</th:block>



</html>


