<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">



<div layout:fragment="mypage" class="container sub-container">

    
    <div class="mb-4">
        <h2 class="title">전화번호변경</h2>
        
        <div class="sub-title">현재 전화번호 : <span th:text="${user.userPhoneNumber}" lang="en"></span> <span th:text="${msg}"></span></div>
       
    </div>
    
    
    <form action="/mypage/change-phone-number" method="post">

        <div class="mb-4 mt-4">
            <label for="userPhoneNumber">휴대폰</label>
            <div class="d-flex">
            <input class="form-input" name="userPhoneNumber" id="userPhoneNumber" placeholder="숫자만 입력해주세요" type="text">
             <button class="black-button" type="button" th:field="${code}" onclick="phoneAuth()">인증번호받기</button>
            </div>
           
            <span id="phoneCheck" style="color: #ee1c25; font-size: 11px; line-height: 34px;"></span>
           <div class="d-flex mb-4 mt-4">
            <input type="text" name="code" id="code" class="form-input">
            <button type="button" class="black-button" onclick="phoneAuthOk()">확인</button>
            </div>
        </div>









        <div class="mb-4 mt-4">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-input" id="password" placeholder="현재 비밀번호를 입력해주세요" name="password">
        </div>

		<div class="btn-wrap mb-4 mt-5">
			<a href="/mypage/modify" class="border-button double" type="submit">목록</a>
			<button class="black-button double" type="submit">확인</button>
		</div>


	</form>

</div>


<th:block layout:fragment="script">
<script th:inline="javascript">
    function phoneAuth(){
        $.ajax({
            type:'POST',
            url:"/api/phoneAuth",
            data: JSON.stringify($("#userPhoneNumber").val()),
            dataType:"json",
            contentType:"application/json;charset=utf=8"
        })
            .done(function(resp){
                resp ? $("#phoneCheck").html("전화테스트1") : $("#phoneCheck").html("문자를 발송하였습니다.");
            })
            .fail(function(e){
                alert("error")
            })
    }
    function phoneAuthOk(){
        $.ajax({
            type:'POST',
            url:"/api/phoneAuthOk",
            data:'code='+$('#code').val()
            // dataType:"json",
            // contentType:"application/json;charset=utf=8"
        })
            .done(function(resp){
                resp ? $("#phoneCheck").html("잘못입력하셨습니다.") : $("#phoneCheck").html("인증완료");
            })
            .fail(function(e){
                alert("인증을 다시 시도해 주세요")
            })
    }

</script>
</th:block>


</html>

