<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="/include/header.html"></div>
<div class="container d-flex flex-row">
    <div th:replace="/mypage/mypageSidebar.html"></div>
    <div style="width: 100%">
        <h2>개인정보수정2222</h2>
        <a href="/mypage/change-email">이메일변경</a>
        <a href="/mypage/change-phone-number">전화번호변경</a>
        <a href="/mypage/change-password">비밀번호변경</a>
        <a href="/mypage/delete-account">계정삭제</a>
    </div>
</div>
<div th:replace="/include/footer.html"></div>

</body>


