
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">

<div layout:fragment="mypage" class="container sub-container">

    <h2 class="title"> 배송지 수정</h2>
    <div style="width: 100%">
        <form method="post" action="/member/shipping-address/update">
            <div class="form-group" >
                <label for="postcode">우편번호:</label>
                <div class = "d-flex">
                    <input readonly type="text" class="form-input" id="postCode" name="postCode" th:value="${userAddress.postCode}" >
                    <input type="hidden" readonly name="id" th:value="${userAddress.id}" >
                </div>
            </div>

            <div class="mb-4 mt-4">
                <label for="address">주소:</label>
                <input type="address" class="form-input" id="address" readonly name="address" th:value="${userAddress.address}">
            </div>

            <div class="mb-4 mt-4">
                <label for="addressDetail">상세주소:</label>
                <input type="text" class="form-input" id="addressDetail" name="addressDetail" th:value="${userAddress.addressDetail}">
            </div>


            <div class="mb-4 mt-4">
                <label for="person">받는사람이름:</label>
                <input type="text" class="form-input" id="person" placeholder="이름을입력해주세요" name="person" th:value="${userAddress.person}">
            </div>

            <div class="mb-4 mt-4">
                <label for="addressPhoneNumber">받는사람전화번호:</label>
                <input type="text" class="form-input" id="addressPhoneNumber" placeholder="전화번호" name="addressPhoneNumber" th:value="${userAddress.addressPhoneNumber}">
            </div>

            <div class="btn-wrap mb-4 mt-5">
                <button class="black-button double" type="submit">주소수정</button>
                <a th:href="@{/member/shipping-address/drop(addressNo=${userAddress.id})}" class="border-button double" type="submit">삭제</a>
            </div>

        </form>
    </div>
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">


    $("._delete").on("click", function () {
        if (!confirm("정말삭제하시겠습니까?")) {
            // 취소(아니오) 버튼 클릭 시 이벤트
        } else {

            location.href = '/member/shipping-address/drop?addressNo=[[${userAddress.id}]]'
        }})

</script>

</th:block>



</html>
