<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
</head>
<body>



	<div>
		<a href="/board/register" class="register">글쓰기 </a>
	</div>

	<table>
		<colgroup>
			<col width="50">
			<col width="300">
			<col width="150">
			<col width="200">
		</colgroup>

		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>등록일</th>
			</tr>
		</thead>


<!-- 


	<c:forEach var="b" items="${board.content }">
		<div class="card m-2">
			<div class="card-body">
				<h4 class="card-title">${b.b_title }</h4>
				<a href="/board/${b.b_no }" class="btn btn-primary">상세보기</a>
			</div>
		</div>
	</c:forEach>
	
	
	 -->


		<tbody>

			<tr th:each="board:${board}">
				<td th:text="${board.idx}"></td>
				<td><a th:href="@{/board/detail/{idx}(idx=${board.idx})}"
					th:text="${board.title}"></a></td>


				<td th:text="${board.writer}"></td>
				<td
					th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>

			</tr>


		</tbody>
	</table>


	<div class="pagination">
		<ul>
			<li th:each="page: ${#numbers.sequence(0, totalPage -1)}"><a
				th:href="@{/board/list(page=${pageStat.index})}"
				th:text="${pageStat.index + 1}"></a>
				</li>
		</ul>
	</div>

</body>
</html>