	<!-- 질문등록버튼 생성  -->
	
	<div class="mb-2">
		<a th:href="@{/board/register_form}" class="btn btn-primary">공지사항 등록하기</a>
	</div>
	
	<table class="table">
		<thead class="table-dark">
			<tr>
			    <th>번호</th>
				<th>제목</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
		

			<tr th:each="board, loop: ${boardList}">
			    <td th:text="${loop.count}"></td>
			
				<td><a th:href="@{|detail/${board.id}|}" th:text="${board.subject}"></a></td>
				<td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
	</table>




</div>
