<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>글쓰기</title>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
<div th:align="center">

  <h2>글쓰기</h2><br>
  <form action ="/board/save" method="post" enctype="multipart/form-data" th:object="${board}">
    작성자<br>
    <input type="text" name="boardWriter" th:value="${session.loginEmail}" readonly><br><br>
    제목<br>
    <input type="text" name="boardTitle" th:field="*{boardTitle}"><br><br>
    글 내용<br>
    <input type="text" name="boardContents" th:field="*{boardContents}"><br><br>
    <input type="file" name="boardFile" th:field="*{boardFile}"><br><br><br>
    <input type="hidden" name="memberId" th:field="*{memberId}">
    <input type="submit" value="글 등록">
  </form>
</div>
</div>
</body>
</html>