<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:insert="/include/header.html"></div>
<div th:insert="/include/quickMenu.html"></div>
<link href="/css/member/signup.css" rel="stylesheet">

<!--<%-->
<!--// session 객체에 저장된 id 값이 존재할 경우-->
<!--// "잘못된 접근입니다." 출력 후 메인페이지로 이동-->
<!--if(session.getAttribute("id") != null) {-->
<!--%>-->
<!--<script>-->
<!--  alert("잘못된 접근입니다.");-->
<!--  location.href="./";-->
<!--</script>-->

<body>
<section class="container_member">
    <article class="half">
        <h1>SHOP OOTD</h1>
        <div class="content">
                <form action="javascript:/funDetail()" method="post">
                    <input class="inpt" id="id" name="id" placeholder="아이디를 입력해주세요" required="required" type="text">
                    <input class="inpt" id="password" name="password" placeholder="비밀번호를 입력해주세요" required="required"
                           type="password">
                    <div class="submit-wrap">
                        <input class="submit" type="submit" value="Sign in">
                    </div>
                </form>
        </div>
    </article>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<div th:insert="/include/footer.html"></div>
</body>


