<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<body>
<div th:replace="/include/header.html"></div>

<div class="container d-flex flex-row">
    <div th:replace="/member/mypageSidebar.html"></div>
    <div style="width: 100%">
      <div>배송지관리 <a href="#">배송지추가</a></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:replace="/include/footer.html"></div>

</body>

