<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<body>
<div th:replace="/include/header.html"></div>

<div class="container d-flex flex-row">
    <div th:replace="/member/mypageSidebar.html"></div>
    <div style="width: 100%">
      <div>배송지관리 <a href="/member/shipping-address">배송지추가</a></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">선택</th>
                <th scope="col">주소</th>
                <th scope="col">받으실 분</th>
                <th scope="col">연락처</th>
                <th scope="col">기본배송지</th>
                <th scope="col">수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addressList}">
                <td>선택</td>
                <td>
                    <span th:text="${address.address}"></span> <span th:text="${address.addressDetail}"></span>
                </td>
                <td th:text="${address.person}"></td>
                <td th:text="${address.addressPhoneNumber}"></td>
                <td th:text="${address.defaultAddress}"></td>
                <td><a th:href="@{/member/shipping-address/update(addressNo=${address.id})}">수정</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:replace="/include/footer.html"></div>

</body>

