<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:insert="/include/header.html"></div>
<div th:insert="/include/quickMenu.html"></div>
<link href="/css/member/signup.css" rel="stylesheet"/>

<body>
<section class="container_member">
    <article class="half">
        <h1>SHOP OOTD</h1>
        <div class="content">
            <form id="sighUpForm" style="height: 1000px;" onsubmit="signupFunction();">
                <div id="re"></div>
                <br>
<!--                <b>아이디</b><b class="tc" id="checkIdResult"></b>-->
<!--                <input class="inpt" id="id" name="id" onkeyup="checkId(this)"-->
<!--                       placeholder="영문자,숫자를 혼용하여 3~8글자 입력하세요" required="required" type="text">-->
                <b>비밀번호</b><b class="tc" id="checkPasswdResult"></b>
                <input class="inpt" id="password" name="pass"
                       placeholder="영문자,숫자,특수문자(!@#$%)를 혼용하여 3~8글자 입력하세요"
                       required="required" type="password">
                <label for="password">Password</label>
                <b>이메일</b>
                <input class="inpt" id="email" name="email" placeholder="이메일을 입력하세요"
                       required="required" type="email">
                <label for="email">e-mail</label>
                <b>이름</b>
                <input class="inpt" id="name" name="username" placeholder="닉네임을 입력하세요" required="required"
                       type="text">
                <label for="name">Username</label><br>
                <input class="submit" type="submit" value="Sign up">
            </form>
        </div>
    </article>
</section>
<div style="height: 470px"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/member/signup.js.js"/>
<script type="text/javascript">
    var url = window.location.href;
    var hash = url.substring(url.indexOf("#") + 1);

    $('.container .bg').mousemove(
        function (e) {
            var amountMovedX = (e.pageX * -1 / 30);
            var amountMovedY = (e.pageY * -1 / 9);
            $(this).css('background-position',
                amountMovedX + 'px ' + amountMovedY + 'px');
        });
    if (hash == "signup") {
        $(this).hasClass('signup')
        $('.tabs .tab').removeClass('active');
        $('this').addClass('active');
        $('.cont').hide();
        $('.signup-cont').show();
    }


</script>

</body>

<div th:insert="/include/footer.html"></div>
