
<!--<%@page import="java.math.BigInteger"%>-->
<!--<%@page import="java.security.SecureRandom"%>-->
<!--<%@page import="java.net.URLEncoder"%>-->
<!--<%@ page language="java" contentType="text/html; charset=UTF-8"-->
<!--pageEncoding="UTF-8"%>-->
<div th:insert="/include/header.html"></div>
<!-- QuickMenu -->
<div th:insert="/include/quickMenu.html"></div>


<link rel="stylesheet" href="/css/member/joinForm.css"/>

<body>
<section class="container_member">
  <article class="half">
    <h1>SHOP OOTD</h1>

    <div class="content">
<!--            <div class="signup-cont cont">-->
      <div>
              <form action="MemberJoinPro.mo" method="post" enctype="multipart/form-data"
                    style="height: 1000px;" name="fr" onsubmit="return check()">

                <div id="re"></div><br> <!-- onclick="dupCheck()" -->
                <b>아이디</b><b id="checkIdResult" class="tc"></b>
                <input type="text" name="id" id="id" class="inpt"
                       required="required" placeholder="영문자,숫자를 혼용하여 3~8글자 입력하세요" onkeyup="checkId(this)">
                <input type="button" value="아이디중복확인" onclick="openIdChk()">
                <input type="hidden" name="idDuplication" value="idUncheck">
<!--                <label for="text">ID</label><br><br>-->

                <b>비밀번호</b><b id="checkPasswdResult" class="tc"></b>
                <input type="password" name="pass" id="password" class="inpt" required="required"
                       placeholder="영문자,숫자,특수문자(!@#$%)를 혼용하여 3~8글자 입력하세요" onkeyup="checkPasswd(this)">
                <label for="password">Password</label>

                <b>비밀번호 재확인</b><b id="checkPasswdResult2" class="tc"> </b>
                <input type="password" name="pass2" id="password2" class="inpt" required="required"
                       placeholder="비밀번호를 한번 더 입력하세요" onkeyup="checkPasswd2(this)">
                <label for="password">Password</label><br>

                <b>이메일</b>
                <input type="email" name="email" id="email" class="inpt"
                       required="required" placeholder="이메일을 입력하세요">
                <label for="email">e-mail</label>

                <b>이름</b>
                <input type="text" name="username" id="name" class="inpt" required="required"
                       placeholder="닉네임을 입력하세요">
                <label for="name">Username</label><br>

                <b>프로필사진</b>
                <input type="file" name="img" id="img" class="inpt"
                       required="required" placeholder="프로필 사진을 첨부하세요">
                <label for="img">Image</label>

                <b>전화번호</b><b id="checkPhoneResult" class="tc"></b>
                <input type="text" name="phone" id="phone" class="inpt" required="required"
                       placeholder="연락처는 숫자만 입력하세요" onkeyup="checkPhone(this)">
                <label for="phone">Phone Number</label> <br>

                <div class="term" style="padding-top: 30px;">
                  <iframe width="100%" src="member/term.jsp"> </iframe>
                </div>

                <br> <input type="checkbox" id="term" class="checkbox" required="required">
                <label for="term">위 약관에 동의합니다.</label> <br>

                <input type="submit" value="Sign up" class="submit">
              </form>
            </div>
    </div>
  </article>
</section>
<div style="height: 470px"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/member/joinForm.js"/>
<script type="text/javascript">
  var url = window.location.href;
  var hash = url.substring(url.indexOf("#") + 1);

  $('.container .bg').mousemove(
          function(e) {
            var amountMovedX = (e.pageX * -1 / 30);
            var amountMovedY = (e.pageY * -1 / 9);
            $(this).css('background-position',
                    amountMovedX + 'px ' + amountMovedY + 'px');
          });
  if (hash == "signup") {
    $(this).hasClass('signup')
    $('.tabs .tab').removeClass('active');
    $('this').addClass('active');
    $('.cont').hide();
    $('.signup-cont').show();
  }

  // function signUp() {
  //   var username = $("#username").val();
  //   // var mob = $("#mob").val();
  //   var password = $("#password").val();
  //   // var email = $("#email").val();
  //   var mnlen = 3;
  //   var mxlen = 20;
  //   var checkval = 1;
  //
  //   /* if(username ==""){
  //       $("#errorusername").text("Please Enter Username");
  //       checkval=0;
  //   }
  //   else if (username.length<mnlen || username.length>mxlen){
  //       $("#errorusername").text("Please input the username between " +mnlen+ " and " +mxlen+ " characters");
  //       checkval=0;
  //   } */
  //   // if (mob == '') {
  //   //     $("#errormob").text("Please Enter Mobile Number");
  //   //     checkval = 0;
  //   // }
  //   if (password == '') {
  //     $("#erroruserpassword").text("Please Enter Password");
  //     checkval = 0;
  //   }
  //   // if (email == '') {
  //   //     $("#erroremail").text("Please Enter the Email");
  //   //     checkval = 0;
  //   // } else if (checkEmail(email) == true) {
  //   //
  //   // }
  //   if (checkval == 1) {
  //
  //     $.ajax({
  //       type : "POST",
  //       url : "/api/account",
  //       contentType: 'application/json',
  //       data :JSON.stringify({
  //         username : $("#username").val(),
  //         // mob : $("#mob").val(),
  //         password : $("#password").val(),
  //         // email : $("#email").val()
  //       })
  //     });
  //   }
  // }

</script>

</body>

<div th:insert="/include/footer.html"></div>
