<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>
<h2>회원가입페이지입니다..2</h2>
<form action="/api/account" enctype="application/json" method="post">
    <input class="" id="username" lang="en" maxlength="20" name="username" placeholder="아이디를 입력해주세요." type="text">
    <input class="" id="password" lang="en" maxlength="255" name="password" placeholder="비밀번호 입력해주세요." type="text">
    <input class="btn btn_join" id="signUpBtn" type="submit" value="가입">
</form>

<script src="signInPage.html"></script>

</body>

</html>