<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!--  <link type="text/css" rel="stylesheet" th:href="@{/css/common.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/main_1.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/header.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/menu_1.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/team.css}" /> -->


    <style>
        .event_ban_area > ul {
            display: flex;
        }
        .event_ban_area ul > li {
            display: inline-block;
            align-items: center;
            width: 20%;
            height: 200px;
            margin: 50px 20px;
        }
        .event_ban_area ul > li img {
            padding: 50px 0;
        }
    </style>

</head>

<body>
<!-- <div th:insert="/include/header.html"></div>
<div th:insert="/include/quickMenu_index.html"></div> -->
<a th:href="@{/board/list}">게시판 리스트 보러가기</a>

<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1"
                 style="background-image: url(/images/main_001.jpg);"></div>
            <div class="item-slick1"
                 style="background-image: url(/images/main_002.jpg);"></div>
        </div>
    </div>
</section>

<!-- <div th:insert="/include/footer.html"></div> -->
</body>

</html>