<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">



<div layout:fragment="mypage" class="container sub-container">
    <h2 class="title">로그인</h2>

    <form action="/login" method="post">
<!--        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>-->
        <div class="mb-4 mt-4">
            <label for="username" class="form-label">아이디</label>
            <input type="text" class="form-input" id="username" placeholder="Enter username" name="username" value="">
        </div>
        
        <div class="mb-4 mt-4">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-input" id="password" placeholder="Enter password" name="password" value="">
        </div>
        <button type="submit" class="black-button">로그인</button>
    </form>
</div>



</html>
