<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">

<div layout:fragment="mypage" class="container sub-container" >
    <h2>회원가입</h2>
    <form th:action="@{/signup}" th:object="${userDTO}" method="POST">
       
        <div class="mb-4 mt-4 "> 
            <label for="userid">아이디</label>
            <div class="d-flex">
            
            <input type="text" class="form-input" th:field="*{userid}"  placeholder="아이디를 4-20자로 입력해주세요" lang="en"
                   th:classappend="${#fields.hasErrors('userid')} ? 'error(에러시클래스부여)'"/>
             <div th:each="msg : ${#fields.errors('userid')}">
                <p th:text="${msg}" lang="en"></p>
            </div>
             <button class="black-button" type="button" onclick="checkDoubleId()">중복확인</button>
            </div>

            <div>
            <span id="idCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
           </div>
        </div>
        <div class="mb-4 mt-4">
            <label for="password">비밀번호</label>
            <input class="form-input" th:field="*{password}" placeholder="비밀번호는 영문 대문자 소문자 숫자 특수문자의 최소 1개씩 8 이상으로 입력해주세요" type="password" lang="en"
                   value="">
            <div th:each="msg : ${#fields.errors('password')}">
                <p th:text="${msg}" lang="en"></p>
            </div>
            <span id="passwordCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
        
        
        <div class="mb-4 mt-4">
            <label for="password2">비밀번호확인</label>
            <input class="form-input" id="password2" name="password2" placeholder="Enter password" type="password" lang="en">
            <span id="passwordCheck2" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
        <div class="mb-4 mt-4">
            <label for="userName">이름</label>
            <input class="form-input" th:field="*{userName}" placeholder="한글,영어만 가능" type="text" lang="en">
        </div>
        <div th:each="msg : ${#fields.errors('userName')}">
            <p th:text="${msg}"></p>
        </div>
        <span id="userNameCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        
        
        <div class="mb-4 mt-4 ">
       
        
        
            <label for="email">이메일</label>
        <div class="d-flex">
            <input type="text" class="form-input" th:field="*{email}" placeholder="Enter email" lang="en">
            <button class="black-button" type="button" onclick="checkDoubleEmail()">중복확인</button>
            </div>
            
            <span id="emailCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
            
            <div th:each="msg : ${#fields.errors('email')}">
                <p th:text="${msg}"></p>
            </div>

        </div>
        
        <div class="mb-4 mt-4 ">
            <label for="userPhoneNumber">휴대폰</label>
            <div class="d-flex">
            <input class="form-input" th:field="*{userPhoneNumber}" placeholder="숫자만 입력해주세요" lang="en"
                   type="text">
            <button type="button" class="black-button" th:field="${code}" onclick="phoneAuth()">인증번호받기</button>
             </div>
                <label for="code">인증번호 입력 </label>
              
                <span id="phoneCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
            
            <div class="d-flex">
                   <input type="text" class="form-input" name="code" id="code" lang="en">
                <button type="button" class="black-button" onclick="phoneAuthOk()">확인</button>
            
            </div>
         
            </div>

        <div class="mb-4 mt-4">
            <h2>성별</h2>
            
            <div class="d-flex form-radio">
            
            <span class=" me-3">
                <input checked class="form-check-input" id="exampleRadios1" name="userSex" type="radio"
                       value=1>
                <label class="form-check-label" for="exampleRadios1">
                    남자
                </label>
            </span>
            <span class=" me-3">
                <input checked class="form-check-input" id="exampleRadios2" name="userSex" type="radio"
                       value=2>
                <label class="form-check-label" for="exampleRadios1">
                    여자
                </label>
            </span>
            <span class=" me-3">
                <input checked class="form-check-input" id="exampleRadios3" name="userSex" type="radio"
                       value=0>
                <label class="form-check-label" for="exampleRadios1">
                    선택안함
                </label>
            </span>
            </div>
        </div>
         
         
         <div class="mb-4 mt-4 ">
         <label for="userBirthDate">생년월일</label>
         <input type="date" class="form-input" th:field="*{userBirthDate}" lang="en">
         </div>
        
        
        <div class="btn-wrap row">
        <button class="black-button" type="submit">회원가입</button>
        </div>
<!--        <span th:text="${#messege}">이건 왜 안되지??</span>-->
<!--        <span>[[${messege}]]</span> 자바스크립트 alert 로 대체-->
    </form>
</div>

    

<th:block layout:fragment="script">
    <script th:inline="javascript">
        [# th:each="msg : ${messege}"]
            alert([[${msg}]])
        [/]
    </script>
</th:block>


</html>
