<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user}">



<div layout:fragment="user" class="container sub-container" >
    <h2>회원가입 form</h2>
    <form th:action="@{/signup}" th:object="${userDTO}" method="POST">
        <div class="form-group">
            <label for="userid">아이디:</label>
            <input type="text" class="form-control" th:field="*{userid}"   placeholder="아이디를 4-20자로 입력해주세요"
                   th:classappend="${#fields.hasErrors('userid')} ? 'error(에러시클래스부여)'"/>
            <div th:each="msg : ${#fields.errors('userid')}">
                <p th:text="${msg}"></p>
            </div>
            <button class="btn btn-primary" type="button" onclick="checkDoubleId()">중복확인</button>
            <span id="idCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input class="form-control" th:field="*{password}" placeholder="비밀번호는 영문 대문자 소문자 숫자 특수문자의 최소 1개씩 8 이상으로 입력해주세요" type="password"
                   value="">
            <div th:each="msg : ${#fields.errors('password')}">
                <p th:text="${msg}"></p>
            </div>
            <span id="passwordCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
        <div class="form-group">
            <label for="password2">비밀번호확인(미구현):</label>
            <input class="form-control" id="password2" name="password2" placeholder="Enter password" type="password">
            <span id="passwordCheck2" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        </div>
        <div class="form-group">
            <label for="userName">이름:</label>
            <input class="form-control" th:field="*{userName}" placeholder="한글,영어만 가능" type="text">
        </div>
        <div th:each="msg : ${#fields.errors('userName')}">
            <p th:text="${msg}"></p>
        </div>
        <span id="userNameCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
        <div class="form-group">
            <label for="email">이메일:</label>
            <input class="form-control" th:field="*{email}" placeholder="Enter email" type="text">
            <button class="btn btn-primary" type="button" onclick="checkDoubleEmail()">중복확인</button>
            <span id="emailCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
            <div th:each="msg : ${#fields.errors('email')}">
                <p th:text="${msg}"></p>
            </div>

        </div>
        <div class="form-group">
            <label for="userPhoneNumber">휴대폰:</label>
            <input class="form-control" th:field="*{userPhoneNumber}" placeholder="숫자만 입력해주세요"
                   type="text">
            <button class="btn btn-primary" type="button" th:field="${code}" onclick="phoneAuth()">인증번호받기</button>
            <span id="phoneCheck" style="color: #ee1c25; font-size: 13.125px; line-height: 34px;"></span>
                <input type="text" name="code" id="code">
                <button type="button" onclick="phoneAuthOk()">확인</button>
        </div>
        <div class="form-group">
            <div>성별(DTO랑 맵핑은됨)</div>
            <span class="form-check">
                <input checked class="form-check-input" id="exampleRadios1" name="userSex" type="radio"
                       value=1>
                <label class="form-check-label" for="exampleRadios1">
                    남자
                </label>
            </span>
            <span class="form-check">
                <input checked class="form-check-input" id="exampleRadios2" name="userSex" type="radio"
                       value=2>
                <label class="form-check-label" for="exampleRadios1">
                    여자
                </label>
            </span>
            <span class="form-check">
                <input checked class="form-check-input" id="exampleRadios3" name="userSex" type="radio"
                       value=0>
                <label class="form-check-label" for="exampleRadios1">
                    선택안함
                </label>
            </span>
        </div>
        <label for="userBirthDate">생년월일</label>
        <input type="date" th:field="*{userBirthDate}">
        <button class="btn btn-primary" type="submit">회원가입</button>
<!--        <span th:text="${#messege}">이건 왜 안되지??</span>-->
<!--        <span>[[${messege}]]</span> 자바스크립트 alert 로 대체-->
    </form>

</div>



<th:block layout:fragment="script">

<!-- <script th:inline="javascript">
    [# th:each="msg : ${messege}"]
        alert([[${msg}]])
    [/]

</script> -->
</th:block>


</html>
